In [91]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

alumnos = {
    "padron": [1,1,1,2,2,3,3,4,4,5,5],
    "materia": ['AmIII','Datos', 'Proba','AmIII','Datos','AmIII','Datos','AmIII','Datos','AmIII','Datos'],
    "nota": [9,10,7,3,2,4,5,7,2,1,10],
    "fecha": ['10/10/2020', '10/20/2020', '07/05/2019', '03/05/2019', '20/03/2019', '08/01/2020', '06/25/2017', '07/30/1990', '08/26/1992',\
              '10/11/2005', '02/12/2006'],
}
df_alumnos = pd.DataFrame(alumnos, columns=alumnos.keys())
df_alumnos.fecha = pd.to_datetime(df_alumnos.fecha)
df_alumnos

    padron materia  nota      fecha
0        1   AmIII     9 2020-10-10
1        1   Datos    10 2020-10-20
2        1   Proba     7 2019-07-05
3        2   AmIII     3 2019-03-05
4        2   Datos     2 2019-03-20
5        3   AmIII     4 2020-08-01
6        3   Datos     5 2017-06-25
7        4   AmIII     7 1990-07-30
8        4   Datos     2 1992-08-26
9        5   AmIII     1 2005-10-11
10       5   Datos    10 2006-02-12

In [92]:
#Subitem 1, Promedio General de notas.

prom_general = df_alumnos['nota'].mean()
prom_general

5.454545454545454

In [93]:
#Subitem 2, Nota mas alta y mas baja de 2019

alumnos_2019 = df_alumnos.loc[pd.DatetimeIndex(df_alumnos['fecha']).year == 2019]
max_nota = alumnos_2019['nota'].max()
min_nota = alumnos_2019['nota'].min()

print ('Max nota = ' + str(max_nota) + '\nMin nota = ' + str(min_nota))

Max nota = 7
Min nota = 2

In [113]:
#Subitem 3, Padron con mayor cantidad de materias aprobadas en ultimo cuatrimestre

alumnos_ultimo_cuat = df_alumnos.loc[(pd.DatetimeIndex(df_alumnos['fecha']).year == 2020) & (pd.DatetimeIndex(df_alumnos['fecha']).month > 7)]
alumnos_materias_aprobadas = alumnos_ultimo_cuat.groupby(['padron','materia']).agg({'nota': lambda x: x>=4}).replace({True:1,False:0})
alumnos_materias_aprobadas.columns = ['Aprobo']
alumnos_materias_aprobadas.reset_index(inplace = True)
padron_con_aprobadas = alumnos_materias_aprobadas.groupby('padron').agg({'Aprobo':'count'}).rename(columns={'Aprobo':'Cantidad_De_Aprobadas'})
final = padron_con_aprobadas[(padron_con_aprobadas['Cantidad_De_Aprobadas']==padron_con_aprobadas['Cantidad_De_Aprobadas'].max())]
final

        Cantidad_De_Aprobadas
padron
1                           2

In [114]:
#Subitem 4, Nota promedio por materia

notas_promedio_por_materia = df_alumnos.groupby('materia').agg({'nota':'mean'}).rename(columns={'nota':'Nota_Promedio'})
notas_promedio_por_materia

         Nota_Promedio
materia
AmIII              4.8
Datos              5.8
Proba              7.0

In [115]:
#Subitem 5, Nota promedio por padron

notas_promedio_por_padron = df_alumnos.groupby('padron').agg({'nota':'mean'}).rename(columns={'nota':'Nota_Promedio'})
notas_promedio_por_padron

        Nota_Promedio
padron
1            8.666667
2            2.500000
3            4.500000
4            4.500000
5            5.500000